<!DOCTYPE html>
@using sistemaControlProyectos.Helpers

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <title>@ViewBag.Title - SMSP</title>

    <script src="/Scripts/jquery-3.4.1.js"></script>
    <link href="/Content/bootstrap.css" rel="stylesheet" />

    <link href="/Content/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/Content/datatable/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="/Content/Actividades/Actividades.css" rel="stylesheet" />
    <link href="/Content/Proyectos/Proyectos.css" rel="stylesheet" />
    <link href="/Content/sweetalert2/css/sweetalert.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.8.3.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">

    <link href="~/Content/menu/css/menuSt.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="page-wrapper chiller-theme toggled ">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="javascript:;">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="javascript:;">SMSP</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-fluid img-rounded" src=@ViewBag.ImagenUsuario alt="User picture" />
                    </div>
                    <div class="user-info">
                        <input id="txtIDUsuarioSession" type="hidden" value="@ViewBag.IDUsuario" />
                        <input id="txtNombreUsuario" type="hidden" value="@ViewBag.NombreUsuario" />
                        <span class="user-name">
                            @ViewBag.NombreUsuario
                        </span>
                        <input id="txtIDCargo" type="hidden" value="@ViewBag.IDCargo" />
                        <span class="user-role">@ViewBag.Cargo</span>
                        <input id="txtIDProyectoActual" type="hidden" value="@ViewBag.IDProyectoActual" />
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>@ViewBag.proyecto</span>
                        </span>
                        <div class="input-group">
                            <a href="/Home/Cerrar">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </div>
                    </div>

                </div>
                <!-- sidebar-search  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        @Html.ActionLinkAllowPermisos()
                    </ul>
                    <!-- sidebar-menu  -->
                </div>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="row m-4">
                </div>
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Todos los derechos reservados</p>
                </footer>
            </div>
        </main>
        <!-- page-content" -->
    </div>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Content/menu/js/menu.js"></script>

    <script src="/Scripts/jquery-3.4.1.js"></script>

    <script src="/Scripts/bootstrap.js"></script>

    <script src="/Content/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/Content/datatable/js/dataTables.buttons.min.js"></script>
    <script src="/Content/jquery.loading.overlay/loadingoverlay.min.js"></script>
    <script src="/Content/sweetalert2/js/sweetalert.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
